
.row{
    display: flex;
    justify-content: space-between;
}
.col-md-7{
    background-image:  url("../templates/images/back5.jpg");
    background-size: 100%  1000px;
    background-repeat: no-repeat;
}
.col-md-4{
    height: 800px;
    padding-left: 200px;
    padding-top: 260px;
}
h2{
    /*color: #fff;*/
    padding-top: 60px;
}
.firstForm{
    margin-top: 60px;
    width: 400px;
}
  .img-fluid{
    margin-left: 100px;
}

.firstForm div{
    margin-bottom: 20px;
    margin-left: 100px;
}
.registr{
    display: flex;
    margin-top: 12px;
    justify-content: center;
    margin: 0px !important;

    /*margin: 10px 0px;*/
}
.registr a{
    text-decoration: none;

    /*color: #000;*/
}
.registr .btn{
    overflow: hidden;
}
.modal{
    width: 800px;
}
.modal-content{
    margin-top: 450px;
    width: 400px;
    height: 200px;
    margin-left: 110px;
    border: none;
}
.modal-backdrop{
    background-color: rgba(0,0,0,0);
    /*opacity: 0;*/
}
.modal-body form{
    width: 320px;
}
.modal-body input{
 margin-bottom: 10px;
}
.modal-header{
    width: 320px;
    padding: 0px;
    margin-left: 16px;
    border-bottom: none;
}