<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Book Edit</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<br>
<br>


<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Edit Book </h1>
            <div class = "card-body">
                <form th:action="@{/book/edit/{id}(id=${id})}" th:object ="${}" method="POST">
                    <div class ="form-group">
                        <label> Book new name </label>
                        <input type = "text"  th:field= "*{name}" class = "form-control" placeholder="Enter new book name"/>
                        <label> Book new author </label>
                        <input type = "text"  th:field="*{author}" class = "form-control" placeholder="Enter new book name"/>
                    </div>
                    <div class ="form-control">
                        <select name="category" class="form-select" aria-label="Default select example">
                            <option selected>Select category</option>
                            <option th:each="cat:${categoryList}" th:value="${cat.getId()}" th:text="${cat.getName()}"></option>
                        </select>
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary w-100">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>